pandas
pillow
wrapt
pillow_heif
gitpython
pyLDAvis
pdfminer.six
transformers
torch
transformers[torch]
accelerate
langchain
langchain_community
langchain_openai
langchainhub
unstructured
pdf2image
pikepdf
pytesseract
pypdf
chromadb
PyMuPDF
gensim
pi_heif
unstructured_inference