pandas==2.0.0
pillow==10.1.0
wrapt==1.15
pillow_heif==0.15.0
gitpython==3.1.42
pyLDAvis==3.4.1
pdfminer.six
transformers==4.38.2
torch==2.2.1
transformers[torch]
accelerate==0.27.2
langchain==0.1.12
langchain_community==0.0.28
langchain_openai==0.0.8
langchainhub==0.1.15
unstructured==0.12.6
pdf2image==1.17.0
pikepdf==8.13.0
pytesseract==0.3.10
pypdf==4.1.0
chromadb==0.4.24
PyMuPDF==1.23.26